/*--------------------------
  Styles Sass
---------------------------*/
/*--------------------------
  Layout > Base/Tipografia
---------------------------*/
html {
  scroll-behavior: smooth; }

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #F0F0F0;
  position: relative; }

body::-webkit-scrollbar {
  width: 10px;
  background-color: #BDBDBD; }

body::-webkit-scrollbar-thumb {
  background: #808084; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: none;
    color: inherit; }

ul {
  margin: 0;
  padding: 0; }

/*---------------
  $TIPOGRAFIA
----------------*/
h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

/*-------------------------
  Media Queri
---------------------------*/
.wrapper-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
  -ms-grid-columns: 370px 1fr;
  grid-template: 100% / 370px 1fr; }

.item-grid {
  position: relative; }

.item-grid:nth-of-type(1) {
  border-right: 1px solid #BDBDBD;
  height: 100vh; }

.container-content {
  width: 800px;
  list-style: none;
  padding: 0;
  margin: 0; }

.section-content {
  height: auto;
  position: relative;
  margin-bottom: 1em;
  border: 1px solid #ffffff;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 10px #e6e6e6;
  box-shadow: 0px 10px 10px #e6e6e6; }
  .section-content h4 {
    font-size: 1.2em;
    color: #808084;
    padding: 1em 0 .8em 2em;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 700; }
    .section-content h4 span {
      width: 60px;
      display: inline-block; }
  .section-content:hover {
    border-color: #FA5D55; }
    .section-content:hover h4 {
      color: #FA5D55; }

.content {
  width: auto;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  opacity: 1;
  z-index: 2; }

ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  opacity: 0; }

ul li input[type=checkbox]:checked ~ .content {
  max-height: 0;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(0, -5%);
  -ms-transform: translate(0, -5%);
  transform: translate(0, -5%); }

.section-content .arrow {
  position: absolute;
  -webkit-transform: translate(-6px, 0);
  -ms-transform: translate(-6px, 0);
  transform: translate(-6px, 0);
  margin-top: 1em;
  top: 5px;
  right: 35px; }
  .section-content .arrow:hover:after {
    background-color: #FA5D55; }

.section-content .arrow:before,
.section-content .arrow:after {
  content: "";
  position: absolute;
  background-color: #808084;
  width: 4px;
  height: 18px;
  border-radius: 50px; }

.content,
ul li .arrow:before,
ul li .arrow:after {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.section-content input[type=checkbox]:checked ~ .arrow::before {
  background-color: #808084;
  -webkit-transform: translate(-5px, 0) rotate(-45deg);
  -ms-transform: translate(-5px, 0) rotate(-45deg);
  transform: translate(-5px, 0) rotate(-45deg); }

.section-content input[type=checkbox]:checked ~ .arrow::after {
  background-color: #808084;
  -webkit-transform: translate(5px, 0) rotate(45deg);
  -ms-transform: translate(5px, 0) rotate(45deg);
  transform: translate(5px, 0) rotate(45deg); }

.section-content .arrow:before {
  background-color: #FA5D55;
  -webkit-transform: translate(5px, 0) rotate(-45deg);
  -ms-transform: translate(5px, 0) rotate(-45deg);
  transform: translate(5px, 0) rotate(-45deg); }

.section-content .arrow:after {
  background-color: #FA5D55;
  -webkit-transform: translate(-5px, 0) rotate(45deg);
  -ms-transform: translate(-5px, 0) rotate(45deg);
  transform: translate(-5px, 0) rotate(45deg); }

.menu {
  width: 370px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: auto;
  padding-left: 5em;
  background-color: #ffffff;
  padding-top: 5em; }
  .menu ul li {
    height: 60px; }
  .menu ul li a {
    width: 100%;
    height: 100%;
    font-size: .8em;
    color: #BDBDBD;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .menu ul li a:hover {
      font-size: .9em;
      font-weight: 700;
      color: #808084;
      border-right: 6px solid #FA5D55; }

.advertencia {
  position: absolute;
  bottom: 0;
  z-index: 150;
  padding: 2.8em;
  font-size: .8em;
  font-weight: 700;
  color: white;
  background-color: #FA5D55; }

.header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1em 2em; }

.documentation-git {
  display: inline-block;
  background-color: #00CA7C;
  padding: 1em 2em;
  font-weight: 700;
  color: #3F4450;
  border-radius: 3px;
  cursor: pointer;
  font-size: .9em; }

.container-title {
  height: 200px;
  position: relative;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .container-title h1 {
    font-size: 3.5em;
    font-weight: 700;
    color: #3F4450;
    letter-spacing: -4px;
    margin: 0; }
  .container-title p {
    font-size: 1.4em;
    margin: 0; }

.icon-github {
  margin-right: 1.5em; }
  .icon-github img {
    width: 55px; }

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .title .git-logo img {
    width: 80px;
    margin-left: 1em; }

.box-dato {
  height: auto;
  padding: 1em;
  border-top: 1px solid #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.box-comando {
  width: 200px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.comando {
  width: 200px;
  height: autos;
  font-weight: 700;
  text-align: center;
  padding: 0 1em;
  font-family: 'Inconsolata', monospace; }

.descripcion {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
