.header {
   width: 100%;
   position: sticky;
   top: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1em 2em;
}

.documentation-git {
   display: inline-block;
   background-color: $green;
   padding: 1em 2em;
   font-weight: 700;
   color: $grayDark;
   border-radius: 3px;
   cursor: pointer;
   font-size: .9em;
}

.container-title {
   height: 200px;
   position: relative;
   left: 0;
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
   // border: $prueba;

   h1 {
      font-size: 3.5em;
      font-weight: 700;
      color: $grayDark;
      letter-spacing: -4px;
      margin: 0;
   }

   p {
      font-size: 1.4em;
      margin: 0;
   }
}

.icon-github {
   margin-right: 1.5em;

   img {
      width: 55px;
   }
}

.title {
   display: flex;

   .git-logo img {
      width: 80px;
      margin-left: 1em;
   }

}