.header {
   width: 100%;
   position: sticky;
   top: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1em 2em;
}

.documentation-git {
   display: inline-block;
   background-color: $green;
   padding: .7em 1.5em;
   font-weight: 700;
   color: $grayDark;
   border-radius: 3px;
   cursor: pointer;
}

.container-title {
   height: 200px;
   // border: $prueba;
   position: relative;
   left: 0;
   align-items: center;
   display: flex;
   // transform: scale(.5);

   h1 {
      font-size: 5em;
      font-weight: 700;
      color: $grayDark;
      letter-spacing: -4px;
      margin: 0;
   }

   p {
      font-size: 1.5em;
      margin: 0;
   }
}

.icon-github {
   margin-right: 1.5em;

   img {
      width: 60px;
   }
}

.git-logo {
   display: flex;
   // position: relative;

   img {
      margin-left: 1em;
      // position: absolute;
      // top: -20px;
      // right: -130px;
   }
}