// GENERALES ======================================================= >

$radius-general: 30px;
$radius-box: 3px;
$transition: .3s;
$prueba: 1px solid red;

// COLORES ========================================================= >

$black: #000000;
$white: #ffffff;

// Escala de Grises
$grayWhite: #F0F0F0;
$grayLight: #BDBDBD;
$grayMedium: #808084;
$grayDark: #3F4450;

// Brand
$green: #00CA7C;
$orange: #FA5D55;

$blueL: #2A3142;
$blueDark: #1d2536;


// FONT ============================================================ >

$console-font: 'Inconsolata', monospace;

